header {
    background-color: rgb(66, 66, 66);
}

header div {
    display:inline-block;
}

.menu {
    /*background-color: red;*/
    background-color: rgb(66, 66, 66);
    width:33%;
    vertical-align: top;
}

.menu a {
    color: white;
}


.imgmenulateral {
    height:75px;
    filter:invert(100%);
}

li {
    list-style:none !important; /*On enlève les puces de la liste */
    color: #FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
}

header ul {
    background-color:rgb(66, 66, 66);
    padding:0;
    margin:0;
}

header ul li {
    list-style: none;
    line-height:44px;
    float:left;
    background-color:rgb(66, 66, 66);
}

li a:hover {
    border-bottom:3px #FFF solid;
}

header ul li ul { 
    display:none; /* Rend le menu déroulant caché par défaut */
}

header ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
}

header ul li:hover ul li {
    float:none;
}

.imglumos {
    height:150px;
}

.sectionlumos{
    background-color: rgb(66, 66, 66);
    width:40%;
    position:center;
}

.rechercher {
    background-color: rgb(66, 66, 66);
    width:26%;
    vertical-align: top;
}

input[type=text] {
    border: 1px dotted #999;
    border-radius: 0;
}

nav {
    height:50px;
}

.menu-nav {
    border-collapse:separate;
    cursor:pointer;
    background-color: rgb(66, 66, 66);
    width:100%;
    margin:0px 50px 10;
}

.letter {
    background-color: #f3f3f3;
}

div#Content{
    background-color: rgb(66, 66, 66);
}

div#Content div{
    display: inline-block;
    /*width:49%;*/
}

div#Content div.leftbox {
    background-color: rgb(66, 66, 66);
    background-image: url("/assets/logo-lumiplan.png");
    background-attachment:fixed;
    background-position:center center;
    background-size: 300px 300px;
    background-repeat:no-repeat;
    width:90%;
    overflow-y:scroll;
}

div#Content div.rightbox {
    background-color: rgb(66, 66, 66);
}

.tableau-style {
    border-collapse:separate;
    width:50%;
    cursor:pointer;
    margin:100px 150px 0;
    border-spacing: 0px 20px;
}

th,td {
    padding:15px 100px;
}

tbody tr,td,th {
    border:3px solid rgb(243, 243, 243);
}

tbody tr:nth-child(odd){
    background-color: #f3f3f3;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

.add {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: black;
    /*text-shadow: 1px 1px 1px #000;*/
    border-radius: 10px;
    background-color: #f3f3f3;
}

footer {
    background-color: rgb(66, 66, 66);
}