#searchzone
{
    height: 4em;
    width: 20em;
    background-color: black;
    border-radius: 6px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logoloupe
{
    height: 1em;
    width: auto;
    margin: 0.5em;
}

h1
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.zone
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;
}

.poster
{
    height: 110px;
    width: 100px;
    background-color: rgba(128, 128, 128, 0.5);
    border: 2px solid black;
    border-radius: 6px;
    margin: 20px;
    text-align: center;
    word-break: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ecranpourpop-up
{
    /* background-color: white; */
    position: absolute;
    height: 100vh;
    width: 98.2vw; /* Si plus élevé, crée des problèmes de scroll infini vers le bas */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#pop-up
{
    background-color: white;
    height: 20vh;
    width: 28vw;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 2px 2px 2px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#popupgauche
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#popupdroite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn
{
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    border : 2px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 2px;
    text-align: center;
    margin: 1em
}

.btn:hover
{
    box-shadow: 0 0 6px;
}