body {
    background: #1D1D1D;
    
}

#logo-lumiplan {
    position: absolute;
    width: 640px;
    height: 570px;
    left: -123px;
    top: -185px;
}

@font-face {
    font-family: 'Josefin Sans Std';
    src: url('http://fonts.cdnfonts.com/css/josefin-sans-std');
}

h1{
position: absolute;
left: 28%;
top: 140px;
font-family: 'Josefin Sans Std', sans-serif;
text-transform: uppercase;
font-weight: 400;
font-size: 60px;
line-height: 64px;
letter-spacing: 0.215em;
color: #FFFFFF;
}

#logo-lumos{
position: absolute;
left: 556px;
top: 260px;
}

#form-container{
    position: absolute;
    width: 576px;
    height: 350px;
    left: 31%;
    top: 445px;
    background: #000000;
    border-radius: 35px;
    transform: translateY(-3rem)
}
form {
    color:#FFFFFF;
    font-size: 20px;
    padding: 50px 70px 50px 50px;
}
input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #D9D9D9;
    margin-top: 4px;
    border-radius: 10px;
    padding: 0 10px;
    font-family: 'Inter';
    font-size: 20px; 
}
#signInButton {
    position: absolute;
    height: 50px;
    width: 40%;
    left:30%;
    background: #000000;
    border: 2px solid #FEFDFD;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Josefin Sans';
    font-size: 40px;
    color: #FFFFFF;
}

#signInButton:hover{
    background: rgba(black, 0.2);
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.85);
}

#signInButton:active{
    transform: scale(0.90);
    transition: 3ms ease-in-out ;
    overflow: hidden;
    
}
